# NLP - Challenge 2- News Data Multi-Classification

**Importing required libraries**

In [1]:
import numpy as np 
import pandas as pd 
import nltk
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from nltk.corpus import stopwords
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import re

**Loading data**

In [2]:
df_train = pd.read_csv("/content/Train Data.csv")
df_train.head()

                                                text  class
0  ? ? ? said as a result of its december acquisi...      3
1  ? generale de banque sa lt ? br and lt heller ...      4
2  ? shr 3 28 dlrs vs 22 cts shr diluted 2 99 dlr...      3
3  ? the farmers home administration the u s agri...      4
4  ? seton co said its board has received a propo...      4

In [3]:
df_train.shape

(8982, 2)

In [4]:
df_test = pd.read_csv("/content/Test_data.csv")
df_test.head()

   id                                               text
0   1  ? the great atlantic and pacific tea co said i...
1   2  ? philippine sugar production in the 1987 88 c...
2   3  ? the agriculture department's widening of lou...
3   4  ? ? ? oil and gas partnership said it complete...
4   5  ? strong south ? winds were keeping many vesse...

In [5]:
df_test.shape

(2246, 2)

**Combined train and test data**

In [6]:
df = pd.concat([df_train, df_test])

df.head()

                                                text  class  id
0  ? ? ? said as a result of its december acquisi...    3.0 NaN
1  ? generale de banque sa lt ? br and lt heller ...    4.0 NaN
2  ? shr 3 28 dlrs vs 22 cts shr diluted 2 99 dlr...    3.0 NaN
3  ? the farmers home administration the u s agri...    4.0 NaN
4  ? seton co said its board has received a propo...    4.0 NaN

**Check Rows and Columns**

In [7]:
df.shape

(11228, 3)

**Dropping Id**

In [8]:
df.drop(["id"], axis=1, inplace=True)
df.head()

                                                text  class
0  ? ? ? said as a result of its december acquisi...    3.0
1  ? generale de banque sa lt ? br and lt heller ...    4.0
2  ? shr 3 28 dlrs vs 22 cts shr diluted 2 99 dlr...    3.0
3  ? the farmers home administration the u s agri...    4.0
4  ? seton co said its board has received a propo...    4.0

**Let’s have a look at the distribution of all the classes of news**

In [9]:
df["class"].value_counts()

3.0     3159
4.0     1949
19.0     549
16.0     444
1.0      432
11.0     390
20.0     269
13.0     172
8.0      139
10.0     124
9.0      101
21.0     100
25.0      92
2.0       74
18.0      66
24.0      62
0.0       55
34.0      50
12.0      49
36.0      49
28.0      48
6.0       48
30.0      45
23.0      41
31.0      39
17.0      39
40.0      36
32.0      32
41.0      30
14.0      26
39.0      24
26.0      24
43.0      21
15.0      20
37.0      19
38.0      19
29.0      19
45.0      18
5.0       17
7.0       16
27.0      15
22.0      15
42.0      13
44.0      12
33.0      11
35.0      10
Name: class, dtype: int64

**Dropping missing values**

In [10]:
 df.dropna(inplace=True)

**Splitting the data into Train and Test**

In [11]:
df = df[["text", "class"]]

x = np.array(df["text"])
y = np.array(df["class"])

cv = CountVectorizer()
X = cv.fit_transform(x)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

**Now I will be using the Multinomial Naive Bayes algorithm to train a news classification model:**

In [12]:
model = MultinomialNB()
model.fit(X_train,y_train)

MultinomialNB()

In [13]:
accuracies = {}
acc = model.score(X_test,y_test)*100
accuracies['Naive Bayes'] = acc
print("Accuracy of Naive Bayes: {:.2f}%".format(acc))

Accuracy of Naive Bayes: 76.39%